* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d8c9a3; 
  background-attachment: fixed;
  line-height: 1.6;
  color: #333333; 
  scroll-behavior: smooth;
}

/*Estilo del header */
header {
  background-color: #d8c9a3; 
  color: #333333;
  text-align: center;
  padding: 24px 0; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
  margin: 0;
  font-size: 40px; 
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*Estilo del nav */
nav {
  margin-top: 10px;
  background: #b69d7e; 
  border-top: 3px solid #f1e1b3; 
  border-bottom: 3px solid #f1e1b3; 
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-size: 19.2px; 
  text-transform: uppercase;
  padding: 16px 24px; 
  border-radius: 5px;
}

nav a:hover {
  background: #f1e1b3; 
  color: #333333; 
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/*Sección 1: Historia */
.historia {
  background: url('/DISEÑO/JorgeZardain_PROYECTO/img/im2.jpg');
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px; 
}

.historia h2 {
  font-size: 40px; 
  margin-bottom: 16px; 
  text-transform: uppercase;
}

.historia p {
  font-size: 19.2px; 
  text-align: left;
  line-height: 1.6;
  margin: 0 auto;
}

/*Sección 2: Tradiciones */

.tradicion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  min-height: 100vh;
  background-color: #d8c9a3;
  padding: 32px; 
}

.tradicion h2{
    text-align: center;
    font-size: 40px;
    color: #333333;
    text-transform: uppercase;
}

.tradicion ul {
  background-color: #e5d1a1; 
  color: #333333; 
  list-style-type: disc;
  text-align: center;
  padding: 48px; 
  border-radius: 30px;
  box-shadow: 0 22px 22px rgba(0, 0, 0, 0.3);
  width: 95%; /* Ajusta el ancho de la lista */
  margin-right: 32px;
}
.ancho{
  display: flex;
  text-align: center;
  align-items: center;
}


.tradicion ul li {
  margin-bottom: 16px; 
  font-size: 19.2px; 
  color: #333333;
}
.tradicion img {
  width: 40%;
  height: auto;
}

/*Sección 3: Gastronomía */
.gas {
  background: #d8c9a3;
  padding: 32px; 
}

.gas h2 {
  color: #333333;
  margin-bottom: 32px; 
  font-size: 40px; 
  text-transform: uppercase;
  text-align: center;
}

.gas article {
  display: flex;
  color: #333333; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5d1a1; 
  padding: 48px; 
  border-radius: 30px;
  box-shadow: 0 22px 22px rgba(0, 0, 0, 0.3);
  max-width: 1000px;
  margin: 0 auto;
}

.gas article img {
  max-width: 100%;
  height: auto;
  margin-bottom: 24px;
  border-radius: 8px;
}

.gas article p {
  font-size: 19.2px; 
  color: #333333; 
  line-height: 1.6;
  text-align: justify;
  max-width: 900px;
  margin: 0 auto;
}

/*Galería de imágenes */
.Galeria {
  background: #b69d7e;
  color: #333333;
  padding: 35px; 
}

.Galeria h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; 
  justify-content: center;
}

.gallery-img {
  width: 400px; /*Pa cambiar el tamaño de la imagen*/
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/*Seccion 4: Video*/
.video h2{
    text-align: center;
    font-size: 40px;
    color: #333333;
    text-transform: uppercase;
}
.video video{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 0 auto;
}

/* Footer */
footer {
  background-color: #d8c9a3;
  color: #333333;
  text-align: center;
  padding: 16px 0; 
  margin-top: 48px; 
  border-top: 2px solid #f1e1b3;
}

/* Responsividad */
@media (max-width: 992px) {
  nav ul {
      flex-direction: column;
      align-items: center;
  }
  .tradicion ul{
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 40px;
    
  }

  .tradicion img{
    width: 100%;
    max-width: 300px;
  }
  .video video{
    height: 330px;
  }

  nav a {
    font-size: 30px;
  }
  
  .historia p {
    font-size: 30px;
  }
  
  .tradicion ul li {
    font-size: 30px;
    text-align: left;
  }
  
  .gas article p {
    font-size: 30px;
  }
  
  footer {
font-size: 30px;
  }
}

@media (max-width: 576px) {
  .image-container {
      flex-direction: column;
      align-items: center;

  }
  .video video{
    height: 220px;
  }
  
  .gallery-img {
      width: 100%;
      max-width: 300px;
      
  }
  
  .tradicion ul{
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 40px;
    
  }
  .tradicion img{
    width: 100%;
    max-width: 300px;
  }
}


@media (max-width: 1024px){
nav a {
    font-size: 24px;
  }
  
  .historia p {
    font-size: 30px;
  }
  
  .tradicion ul li {
    font-size: 30px;
  }
  
  .gas article p {
    font-size: 30px;
  }
  
  footer {
font-size: 30px;
  }
}
@media (max-width: 430px){
nav a {
    font-size: 19px;  }
  
  .historia p {
    font-size: 19px;  }
  
  .tradicion ul li {
    font-size: 19px;  }
  
  .gas article p {
    font-size: 19px;
  }
  
  footer {
font-size: 19px;
  }
}