*{/*Esto es lo que hay siempre al principio de una página*/
    box-sizing: border-box;
}
.container{
    background-color: aqua;
    display: flex;/*Pone los elementos en fila */
   /* flex-direction: row-reverse;Pone los elementos al revés */
    flex-wrap: wrap;/*es para que se cambie dependiendo de la resolucion de la pantalla*/
    height: 200px;
    justify-content: flex-end;/*Al final se ponen los elementos*/
    margin: 20px auto;
    padding: 10px;
    width: 60%;

}
.container div{
    background-color: red;
    border: 1px solid black;
    height: 50px;
    width: 200px;

}
