h1 {background-color: aqua;
display: block;  
height: 50px;
width: 700px;}

h2 {background-color: blue;
display: inline;}

p {background-color: red;
display: inline;}

ul {background-color: blueviolet;}

img{
    display: block;
    background-color: chartreuse;
}
a{
    display: block;
}